/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  display: inline-block;
  font: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
}




